@charset "utf-8";
/* CSS Document */

/*! Flickity v2.1.2
https://flickity.metafizzy.co
---------------------------------------------- */

.flickity-enabled {
  position: relative;
}

.flickity-enabled:focus { outline: none; }

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.flickity-slider {
   	position: absolute;
    width: 100%;
    height: 430px;
    padding: 30px 0
}

/* draggable */

.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
          tap-highlight-color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.wrap-carrusel .flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
	/*height: 450px!important;*/
}

.wrap-comentarios .flickity-enabled.is-draggable .flickity-viewport {
    height: 120px!important;
}

.wrap-comentarios .flickity-slider {
    height: 230px!important;
    padding: 0;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

/* ---- flickity-button ---- */

.flickity-button {
  position: absolute;
  background: hsla(0, 0%, 100%, 0.75);
  border: none;
  color: #333;
}

.flickity-button:hover {
  background: white;
  cursor: pointer;
}

.flickity-button:focus {
  outline: none;
  box-shadow: 0 0 0 5px #19F;
}

.flickity-button:active {
  opacity: 0.6;
}

.flickity-button:disabled {
  opacity: 0.3;
  cursor: auto;
  /* prevent disabled button from capturing pointer up event. #716 */
  pointer-events: none;
}

.flickity-button-icon {
  fill: #333;
}

/* ---- previous/next buttons ---- */

.flickity-prev-next-button {
  	top: 50%;
  	width: 65px;
  	height: 65px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
  	border-radius: 7px;
  	/* vertically center */
  	transform: translateY(-50%);
	z-index: 30;
	position: absolute;
	border: none;
}

.flickity-prev-next-button:hover {
	cursor: pointer;
}

.flickity-prev-next-button.previous {
	background: url(../../img/site/flecha-prev-carrusel.png) no-repeat center center;
	left: 35px; 
}

.flickity-prev-next-button.next {
	background: url(../../img/site/flecha-next-carrusel.png) no-repeat center center;
	right: 35px; 
}

/* right to left */
.flickity-rtl .flickity-prev-next-button.previous {
  left: auto;
  right: 35px;
}
.flickity-rtl .flickity-prev-next-button.next {
  right: auto;
  left: 35px;
}

.flickity-prev-next-button .flickity-button-icon {
  
}

.arrow {
	display: none;
}

/* ---- page dots ---- */

.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: 25px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1;
}

.flickity-rtl .flickity-page-dots { direction: rtl; }

.flickity-page-dots .dot {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: 0 8px;
  background: #FFF;
  border-radius: 50%;
  opacity: 0.25;
  cursor: pointer;
}

.flickity-page-dots .dot.is-selected {
  opacity: 1;
     -webkit-filter: none;
    filter: none;
}
